# Flow Control (Control de flujos)

- El flow control se refiere a **cómo** queremos que nuestras instrucciones (programa) se ejecuten
- **cómo** : se refiere, principalmente, al **_orden_** que queremos que tengan nuestros statements y las **_condiciones_** bajo las que queremos que se ejecuten
- Por ejemplo, muchas veces no necesitamos que _todas las líneas_ de nuestras instrucciones se ejecuten. Dependiendo de ciertas condicionalidades, algunas instrucciones se activarán y otras no

<img src="img/ctrl_1.png" width="300">

In [3]:
import numpy as np
import pandas as pd

# 4. If and Loops

- <a href='#def'>4.1. If condition</a>
     - <a href='#4.1.1.'>4.1.1. The structure of the code </a> 
     - <a href='#4.1.2.'>4.1.2. Adding ```else```</a> 
     - <a href='#4.1.3.'>4.1.3. Difference between ```elif``` and ```if``` </a> 
     - <a href='#4.1.4.'>4.1.4. Logical Operators </a> 
     - <a href='#4.1.5.'>4.1.5. Identity operators </a> 
     - <a href='#4.1.6.'>4.1.6. Nested ```if``` statement </a>  
- <a href='#4.2.'>4.2. For Loops </a> 
     - <a href='#4.2.1.'>4.2.1. In numpy </a> 
     - <a href='#4.2.2.'> 4.2.2. In List </a> 
     - <a href='#4.2.3.'> 4.2.3. In Dictionary </a> 
     - <a href='#4.2.4.'> 4.2.4. For loop using range</a>
     - <a href='#4.2.5.'> 4.2.5. Nested For Loop</a>
     - <a href='#4.2.6.'> 4.2.6. Iterations over Pandas</a>
- <a href='#4.3.'> 4.3. Pass, Continue, Break, Try</a>
     - <a href='#4.3.1.'>4.3.1. Pass</a>
     - <a href='#4.3.2.'>4.3.2. Continue</a>
     - <a href='#4.3.3.'>4.3.3. Break</a>
     - <a href='#4.3.4.'>4.3.4. Try </a>
     
- <a href='#4.4.'>4.4. While Loop </a>
     - <a href='#4.4.1.'>4.4.1. Structure </a>
- <a href='#4.5.'>4.5. References </a>

## 4.1. <a id='def'> If statements </a>

Los statements condifionales (if statements) nos permiten realizar cosas basadas en una condicionalidad.

La estructura general de un statement condicional es la siguiente:  

```python
if condition <boolean>:
        <conditional statement>
else:
        <another conditional statement>
```

Boolean:

- Equals: a == b
- Not Equals: a != b
- Less than: a < b
- Less than or equal to: a <= b
- Greater than: a > b
- Greater than or equal to: a >= b

## 4.1.1.  <a id='4.1.1.'> The structure of the code </a> <br>

<font size="4">
if <font color='green'>test expresion</font>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;Code to excute<br>
</font>

The **if** statement tests the veracity of a logic expression. The result of test statement should be a **<font color='red'>boolean</font>**. In other words, the output of the test statemen must be **<font color='red'>True</font>** or **<font color='red'>False</font>**. To sum, any function that its output is **boolean** can be used as a test expression in the **if** function.

#### Examples

In [8]:
x = 5 
if x > 1:
    print("x is greater than 1")
print("This is printed anyway since it´s out of the indented block")

x is greater than 1
This is printed anyway since it´s out of the indented block

In [28]:
x = 46
if  x % 2 == 0: 
    print ("Es par")
else:
    print("Es impar")

Es par

### 4.1.2.   <a id='4.1.2.'> Adding ```else``` </a>

The ```else``` statement is evalueted when ```if``` is false

In [29]:
x = -5

if x > 0:
    print("positive number")
else:
    print("non-positive number")

non-positive number

### 4.1.2.   <a id='4.1.2.'> Adding ```elif``` </a>

The ```elif``` works before ```else``` evaluating conditions after ```if``` isn´t satisfied. The ```elif``` are mutually exclusive

In [30]:
x = -5

if x > 0:
    print("positive number")
elif x == 0:
    print("zero")
else:
    print("negative number")

negative number

### 4.1.3.   <a id='4.1.3.'> Difference between ```elif``` and ```if``` </a>

Both ```elif``` and  ```else``` indicates that under the satisfaction of condition, control flow is end up. However, the ```if``` will continue evaluating conditions

In [31]:
x = 1000000

if x > 0:  
    print("número positivo")
if x > 4:                    # if
    print("número > 4")
if x > 10000:                # if
    print("número mayor a 10000")
else:
    print("no imprime porque no llega hasta aquí")

número positivo
número > 4
número mayor a 10000

In [33]:
x = 1000000

if x > 0:
    print("número positivo")
elif x > 4:                  # elif
    print("número > 4")
elif x > 10000:              # elif
    print("número mayor a 10000")
else:
    print("este statement no se imprime")

número positivo

The lamp example describes ```elif``` conditions: after the lamp is pluged-in, the lamp is turned-on

<img src="img/ctrl_2.png" width="300">

In code:

In [34]:
lampara_desenchufada = True
foco_no_quemado = True
lampara_malograda = True

if lampara_desenchufada:
    print("enchufar la lámpara")
elif foco_no_quemado:
    print("cambiar foco")
elif lampara_malograda:
    print("reparar lámpara")
else:
    print("ya cambia  tu lámpara ya")

enchufar la lámpara

Under the ```if```, is will be:

<img src="img/ctrl_2.png" width="300">

In [35]:
lampara_desenchufada = True
foco_no_quemado = True
lampara_malograda = True

if lampara_desenchufada:
    print("enchufar la lampara")
if foco_no_quemado:
    print("cambiar foco")
if lampara_malograda:
    print("reparar lámpara")
else:
    print("ya cambia tu lámpara ya")

enchufar la lampara
cambiar foco
reparar lámpara

### 4.1.4.   <a id='4.1.4.'> [Logical Operators](https://www.geeksforgeeks.org/python-logical-operators-with-examples-improvement-needed/) </a> 


Three key logical operators: **<font color = 'red' >and</font>**, **<font color = 'red' > or</font>**, and **<font color = 'red' > not</font>**.

In [36]:
6>5 and 7>3

True

In [39]:
A = 20
B = 25
C = 25

if ( A == B ) and ( A < C ):
     print ('A is equal to B and less than C. Condition 1 is true.')
    
elif ( A > B ) or ( A > C ):
     print ('A is greater than B or greater than C. Condition 2 is true.')

elif ( B > C ) and ( B > A ):
     print ('B is greater than C and greater than A. Condition 3 is true.')
    
else:
     print ('When neither condition is true, this phrase is printed.')

When neither condition is true, this phrase is printed.

### 4.1.5.   <a id='4.1.5.'> [Identity Operators](https://www.w3schools.com/python/gloss_python_identity_operators.asp) </a> 

These operators help us to compare whether variables refer to the same object.
We have **<font color = 'red' >is</font>**, and **<font color = 'red' > is not</font>** as identity operators.

In [40]:
C = None
C

In [41]:
if C is None:
    print( 'Ohh C is None :(')

Ohh C is None :(

In [42]:
if C is not float:
    print( 'C is not a float')

C is not a float

In [44]:
9 not in [1,2,3,4]

True

You can also review Memebership operators ```is```

#### Difference between **<font color = 'red' > ==</font>** and **<font color = 'red' > is</font>** operator in Python

1. **<font color = 'red' > ==</font>** operator compares the **values** of both the operands and checks for value equality.
2. **<font color = 'red' > is</font>** operator checks whether both the operands refer to the same **object** or not (present in the same memory location).

In [45]:
a = 5
b = 5
print(a is b)

True

In [49]:
a = np.arange(0, 4)
b = np.array( [0, 1 , 2 , 3 ] )
print(a,b)
print(a == b)
print(a is b)
print(id(a))
print(id(b))

[0 1 2 3] [0 1 2 3]
[ True  True  True  True]
False
4561809360
4561810608

### 4.1.6.   <a id='4.1.6.'> Nested ```if``` statement </a>

In [51]:
total = 120
country = "PE"
#country = "AR"

if country == "PE":
    if total <= 50:
        print("Shipping Cost is  $50")
    elif total <= 100:
        print("Shipping Cost is $25")
    elif total <= 150:
        print("Shipping Costs $5")
    else:
        print("FREE")
    
if country == "AR": 
    if total <= 50:
        print("Shipping Cost is  $100")
    else:
        print("FREE")

Shipping Costs $5

## 4.2.   <a id='4.2.'> For Loops </a> 


A for loop is used for **iterating** over a sequence. It executes a code a definite number of times.

```for``` structure:

```python
for value in <group of values>:
    do something

```

### 4.2.1. <a id='4.2.1.'> In NumPy & lists </a>

In [52]:
sequence = np.array( [15, 20, 25, 30 , 35 , 40 , 50 ] )
sequence

array([15, 20, 25, 30, 35, 40, 50])

In [54]:
for number in sequence:
    # print(number)
    square = number**2
    print(square)

225
400
625
900
1225
1600
2500

In [57]:
i = 0
for element in sequence:
    i += 1
    print( element, element + i)

15 16
20 22
25 28
30 34
35 40
40 46
50 57

Please, when iterating, don´t modify the original list

In [58]:
ages = [5, 17, 33, 45, 60]
for elem in ages:
    ages.pop(3)   #### DON'T DO THIS
    print(ages)

[5, 17, 33, 60]
[5, 17, 33]

IndexError: pop index out of range

Instead, create a new list

In [62]:
ages = [5, 17, 33, 45, 60]

new_lst = []

for edad in ages:
    edad +=5
    new_lst.append(edad) 
print(new_lst)
print(ages)

[10, 22, 38, 50, 65]
[5, 17, 33, 45, 60]

### 4.2.3  <a id='4.2.3.'>In Dictionary </a>

In [65]:
class_1 = { "students" : ['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason'] , 
           "age" : [20, 18, 15, 20, 22] }

In [72]:
class_1["students"]

['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason']

In [67]:
 for val in class_1["age"]:
         print (val)

20
18
15
20
22

In [70]:
class_1.keys()

dict_keys(['students', 'age'])

In [68]:
for val in class_1.values():
    print( val )

['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason']
[20, 18, 15, 20, 22]

In [73]:
for key in class_1.keys():
    for val in class_1[key]:
         print (val)

Miguel
Anthony
Paul
Rodrigo
Jason
20
18
15
20
22

### 4.2.4 <a id = '4.2.4.'>  For loop using range </a>

In [75]:
# Class
students = ['Miguel', 'Anthony', 'Paul', 'Rodrigo', 'Jason', 'Yajaira']

# Ages
ages = [20, 18, 15, 20, 22, 25]

range(0, len(students))

for index in range (0, len (students)):
     print ( f'{ students[index] } is { ages[index] } years old.' )

Miguel is 20 years old.
Anthony is 18 years old.
Paul is 15 years old.
Rodrigo is 20 years old.
Jason is 22 years old.
Yajaira is 25 years old.

In [78]:
print(enumerate( students ))

<enumerate object at 0x10feab920>

In [79]:
for i, element in enumerate( students ):
    print ( f'{ students[i] } is { ages[i] } years old.' )

Miguel is 20 years old.
Anthony is 18 years old.
Paul is 15 years old.
Rodrigo is 20 years old.
Jason is 22 years old.
Yajaira is 25 years old.

### 4.2.5 <a id='4.2.5.'>  Nested For Loop </a>

A for loop inside of another for loop.

In [81]:
age_class = [ [11, 12, 11] , [15, 16, 16] , [17, 17, 18]]
age_class

[[11, 12, 11], [15, 16, 16], [17, 17, 18]]

In [82]:
for classs in age_class:
    print( classs )
    
    for age in classs:
        print( age )

[11, 12, 11]
11
12
11
[15, 16, 16]
15
16
16
[17, 17, 18]
17
17
18

In [88]:
# sequence
students = [ 'Justin' , 'Pogba', 'Paul', 'Carrillo', 'Xavi' ]

# age
gr_age = [ 20, 18, 15, 20, 22]

# Loops
for student, age in zip( students , gr_age ):
    print(f'{ student } is { age }')

Justin is 20
Pogba is 18
Paul is 15
Carrillo is 20
Xavi is 22

In [93]:
## Diferent dimmensions
# sequence
students = [ 'Justin' , 'Pogba', 'Paul', 'Carrillo', 'Xavi' ]

# Edades
gr_age = [ 20, 18, 15, 20 ]

for student, age in zip( students , gr_age ):
    print(f'{ student } is { age }')

Justin is 20
Pogba is 18
Paul is 15
Carrillo is 20

In [94]:
## if + for
income_annual = [10_000, 20_000, 50_000, 120_000, 1000000, 6_000_000]
uit = 5150

# simplificar codigo usando elif
for income in income_annual:
    if income <= 5 * uit:
        impuesto = 0.08 * income
        print("if my income is S/", str(income), "my taxes are S/", str(impuesto))
    elif (income > 5 * uit) & (income <= 20 * uit):
        impuesto = 0.14 * income
        print("if my income is S/", str(income), "my taxes are S/", str(impuesto))
    elif (income > 20 * uit) & (income <= 35 * uit):
        impuesto = 0.17 * income
        print("if my income is S/", str(income), "my taxes are S/", str(impuesto))
    elif (income > 35 * uit) & (income <= 45 * uit):
        impuesto = 0.2 * income
        print("if my income is S/", str(income), "my taxes are S/", str(impuesto))      
    else:
        impuesto = 0.3 * income
        print("if my income is S/", str(income), "my taxes are S/", str(impuesto))

if my income is S/ 10000 my taxes are S/ 800.0
if my income is S/ 20000 my taxes are S/ 1600.0
if my income is S/ 50000 my taxes are S/ 7000.000000000001
if my income is S/ 120000 my taxes are S/ 20400.0
if my income is S/ 1000000 my taxes are S/ 300000.0
if my income is S/ 6000000 my taxes are S/ 1800000.0

### 4.2.6. <a id = '4.2.6.'> Iterations over Pandas</a>

[Marine fishing extraction by destination and main species (thousands of tons)](https://estadisticas.bcrp.gob.pe/estadisticas/series/anuales/extraccion-pesquera-maritima-por-destino-y-principales-especies-miles-de-toneladas)

In [95]:
# !conda install openpyxl

In [96]:
import pandas as pd

In [97]:
pesca_produccion = pd.read_excel(r"data/pesca_produccion.xlsx")

In [99]:
pesca_produccion

,Año,Consumo Industrial - Anchoveta,Consumo Humano - Congelado - Concha de abanico,Consumo Humano - Congelado - Langostino,Consumo Humano - Congelado - Merluza,Consumo Humano - Congelado - Calamar gigante,Consumo Humano - Conservas - Atún,Consumo Humano - Conservas - Caballa,Consumo Humano - Conservas - Jurel,Consumo Humano - Conservas - Sardina,Consumo Humano - Fresco - Concha de abanico,Consumo Humano - Fresco - Jurel,Consumo Humano - Fresco - Liza,Consumo Humano - Fresco - Tollo
0,2010,3330.413040,60.001250,14.477939,25.647697,327.571909,9.182845,9.729522,5.774274,0.000000,2.824749,10.404933,9.706363,4.994712
1,2011,7000.092781,92.027637,23.384478,28.544458,373.195661,6.586856,20.478814,83.277943,0.054463,0.873130,72.955117,12.124808,5.687520
2,2012,3693.871080,38.933390,22.707220,21.054780,457.072670,1.115060,9.978510,43.693940,0.088460,0.744610,72.930470,17.162420,4.235380
3,2013,4754.118210,89.293284,19.111372,31.187461,410.759534,7.136436,26.600553,7.197624,0.000000,2.180252,54.454541,12.530821,3.945647
4,2014,2255.453460,52.266500,21.762990,30.770800,465.007580,4.734540,29.576440,8.882560,0.000000,0.608160,46.346459,12.248670,5.206880
5,2015,3616.481500,14.843150,26.772210,25.644130,426.932300,11.082120,15.314910,2.769796,0.164140,0.615910,17.536930,12.463520,7.717680
6,2016,2732.733740,10.090130,29.253750,25.800210,246.124700,10.884490,57.675170,0.412040,0.007490,0.579750,12.472050,15.757580,9.453130
7,2017,3165.490240,4.596090,38.760070,37.147430,252.429930,11.802750,23.249140,1.052910,0.000000,0.373700,6.889530,29.061740,6.692660
8,2018,6072.887839,36.530349,31.505879,34.876576,319.146488,18.138975,24.610468,14.619846,0.000000,1.551366,14.720969,23.326310,3.672117
9,2019,3381.437222,53.112863,42.857637,28.979849,483.765239,17.839298,19.598784,27.733432,0.000000,1.226521,40.798701,24.029820,1.241883
10,2020,4320.755715,47.563722,34.586938,20.249734,458.050670,2.791038,31.719238,26.717219,0.000000,0.616697,52.651767,14.992172,0.870075
11,2021,5170.189366,54.069829,34.011690,33.524423,477.366794,1.769770,36.027266,16.945096,0.000000,0.874488,45.794513,16.049808,1.059540
12,2022,4040.660670,26.129267,42.323769,26.307448,415.685156,5.754464,30.661276,35.356591,0.000000,0.376267,60.937305,8.465341,0.751410

In [103]:
for index, row in pesca_produccion.iloc[ :, 1: ].iterrows():
    pesca_produccion.at[ index, 'Max_min'] = row.max() - row.min()

In [102]:
pesca_produccion.head()

,Año,Consumo Industrial - Anchoveta,Consumo Humano - Congelado - Concha de abanico,Consumo Humano - Congelado - Langostino,Consumo Humano - Congelado - Merluza,Consumo Humano - Congelado - Calamar gigante,Consumo Humano - Conservas - Atún,Consumo Humano - Conservas - Caballa,Consumo Humano - Conservas - Jurel,Consumo Humano - Conservas - Sardina,Consumo Humano - Fresco - Concha de abanico,Consumo Humano - Fresco - Jurel,Consumo Humano - Fresco - Liza,Consumo Humano - Fresco - Tollo,Max_min
0,2010,3330.413040,60.001250,14.477939,25.647697,327.571909,9.182845,9.729522,5.774274,0.000000,2.824749,10.404933,9.706363,4.994712,3330.413040
1,2011,7000.092781,92.027637,23.384478,28.544458,373.195661,6.586856,20.478814,83.277943,0.054463,0.873130,72.955117,12.124808,5.687520,7000.038318
2,2012,3693.871080,38.933390,22.707220,21.054780,457.072670,1.115060,9.978510,43.693940,0.088460,0.744610,72.930470,17.162420,4.235380,3693.782620
3,2013,4754.118210,89.293284,19.111372,31.187461,410.759534,7.136436,26.600553,7.197624,0.000000,2.180252,54.454541,12.530821,3.945647,4754.118210
4,2014,2255.453460,52.266500,21.762990,30.770800,465.007580,4.734540,29.576440,8.882560,0.000000,0.608160,46.346459,12.248670,5.206880,2255.453460

## 4.3. <a id = '4.3.'> Pass, Continue, Break, Try</a>

Please, review this YouTube [video](https://www.youtube.com/watch?v=yCZBnjF4_tU) and also this [one](https://www.youtube.com/watch?v=JCRpVwtVL4I) for more info

|Function|Description|
|---|---|
| `Pass`| Allows you to handle the condition <br> without the loop being impacted in any way|
| `Continue`| The current iteration of the loop will be disrupted, <br> but the program will return to the top of the loop|
| `Break`| The loop will exit|
| `Try`| This command lets you test a block of code for errors.|
| `Exception`| An exception is an event, which occurs during <br> the execution of a program that disrupts the normal <br> flow of the program's instructions. <br> It allows you to raise a message to help the user.|


### 4.3.1 <a id = '4.3.1.'> Pass</a>

In [ ]:
for number in range(10):
    print('Number is ' + str(number))

In [ ]:
a = 2
if a == 1:
    print(a)

In [ ]:
prime = [2 , 3, 5, 7]

In [ ]:
# Looking for prime numbers
for number in range(10):
    
    print('Number is ' + str(number))
    
    if (number in prime):
        # comment
        # pass
        print("This is a prime number")

    elif number == 3:
        #number = number + 1
        print( f'This number is {number}' )

    else:
        #number = number + 2
        print('This is not a prime number' , '\n')

print('Out of loop')

In [ ]:
# This is looking for prime numbers
for number in range(10):
    
    print('Number is ' + str(number))
    
    if (number in prime):
        # comment
        pass
        #print("This is a prime number")

    elif number == 3:
        #number = number + 1
        print( f'This number is {number}' )

    else:
        #number = number + 2
        print('This is not a prime number' , '\n')

print('Out of loop')

### 4.3.2. <a id = '4.3.2.'>Continue</a>

In [ ]:
for number in range(10):
    print('Number is ' + str(number))
    
    if number == 5:
        # comment
        continue

    elif number == 3:
        #number = number + 1
        print( f'This number is {number}' )

    else:
        #number = number + 2
        print('Different number than 3 and 5' , '\n')
    
    

print('Out of loop')

In [ ]:
# find the even numbers

for i in range(10):
    
    if i % 2 == False:
        pass
    
    else:
        continue
    
    print("juan")
    print(i)

### 4.3.3. <a id = '4.3.3.'>Break</a>

In [ ]:
for number in range(10):
    print('Number is ' + str(number))
    
    if number == 5:
        # comment
        print( f'This number is {number}' )

    elif number == 0:
        #number = number + 1
        print('This is the output of break.')
        break
        
    else:
        #number = number + 2
        print('Different number =! 3, 5', "\n")

    

print('Out of loop')

In [ ]:
for number in range(10):
    if number == 5:
        # comment
        raise Exception('This is the output of exception as an example.')

    elif number == 3:
        #number = number + 1
        print( f'This number is {number}' )

    else:
        #number = number + 2
        print('Different number')

    print('Number is ' + str(number))

print('Out of loop')

### 4.3.4. <a id = '4.3.4.'> Try </a>

|Function|Description|
|---|---|
|`except`| Run a code if an error occurs.|
|`else`| The code will be executed whether there is no error.|
|`finally`| The code will be executed <br> does no matter whether or not the try raises an exception.|

`except`: Run a code if an error occurs.

In [ ]:
x = 'Hola'

In [ ]:
print(x + 4)

In [ ]:
try:
    print(x + 4)
    
except TypeError:
    print(5+5)
    print("An error tipo TypeError")
    
except NameError:
    print("Variable x is not defined")
    
except:
    print("Something else went wrong")

In [ ]:
name = "John"

print(namme)

In [ ]:
try:
    print(namme)
    
except TypeError:
    print(5+5)
    print("An error tipo TypeError")
    
except NameError:
    print("the correct label of the variable is name" )
    print("Variable x is not defined")
    
except:
    print("Something else went wrong")

In [ ]:
try:
    print(namme)
    
# except TypeError:
#     print(5+5)
#     print("An error tipo TypeError")
    
# except NameError:
#     print("the correct label of the variable is name" )
#     print("Variable x is not defined")
    
except:
    print("There is an error")

`else`: The code will be executed whether there is no error.

In [ ]:
x = 6

In [ ]:
try:
    x + 4
    
except:
    print("Something went wrong")
    #print( 5 + 4)

else:
    print("Nothing went wrong")
    
    try:
        print( x + "2")    
    except:
        print("error 2")

`finally`: The code will be executed does no matter whether or not the try raises an exception.

In [ ]:
x = 6

In [ ]:
try:
    print(x + 4)
except:
    print("Something went wrong")
finally:
    print( f'el elemento {x} ya paso por este filtro')

## 4.4. <a id='4.4.'> While Loop </a>
While loop is used to repeat code as long as the condition is true. When the logical expression is false, the code will finish executing. [More Info](https://python101.pythonlibrary.org/chapter5_loops.html)

### 4.4.1. <a id='4.4.1.'> Structure </a>

while <font color='green'>condition</font>: <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;code 1<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color='red'>break code</font><br><br>

The break code is an expression that allows the logical condition to be false at some point, because if not, the code will continue to execute infinitely.

In [104]:
i = 1
i

1

In [105]:
i += 2
i

3

In [106]:
i += 3
i

6

In [108]:
i = 1

while i<=10:
    print(i)
    
    # breakcode
    i += 1

1
2
3
4
5
6
7
8
9
10

In [109]:
i = 1

while i < 10:
    print(i)
    
    # break code 
    i += 1
    print("now i is ", i)

1
now i is  2
2
now i is  3
3
now i is  4
4
now i is  5
5
now i is  6
6
now i is  7
7
now i is  8
8
now i is  9
9
now i is  10

#### Excersice
1. Print $2^n$, but the result is less than 10,000.

In [110]:
x = 2

while x < 10000:
    print(x)
    
    # break code
    x = 2*x
    print("now i is ", x)

2
now i is  4
4
now i is  8
8
now i is  16
16
now i is  32
32
now i is  64
64
now i is  128
128
now i is  256
256
now i is  512
512
now i is  1024
1024
now i is  2048
2048
now i is  4096
4096
now i is  8192
8192
now i is  16384

2. A teacher has 100 apples for his entire class. The first student took four apples, and the next student always took more apples than the previous one. How many children have apples?

In [ ]:
apples = 100

# Break code iterator  
last_st = 4

# Iterator for number of students 
i = 1

while apples > last_st:
    
    apples = apples - last_st
    
    # break code
    last_st += 1
    
     # Count students 
    i += 1
    
    print ( f'{i-1} children have apples'+ f' and there are {apples} apples left')
    # print( f'This number is {number}' )

3. Print all elements of an array.

In [ ]:
import numpy as np

edad = np.array([ 3, 6, 7, 10, 15, 17, 18, 31, 26, 88 , 100, 120, 110])
i = 0

while i < edad.size:
    
    print(edad[i])
    i += 1

4. While loop Excersice

In [ ]:
quarantine_days = 1
stress_level = 2


while quarantine_days <= 40:
    
    print ( f'Quarantine day n° {quarantine_days}. ')
    
    if stress_level> 100:
        print (f'Her family let Rebeca out on the day {quarantine_days}.')
        stress_level = 1
        break
     
    elif quarantine_days <15:
        
        print ("Rebeca watch Love Alarm")
    
    elif (quarantine_days >= 15) & (quarantine_days <20):
        
        print ("Rebeca reads El mundo de Sofia and Cronicas de una muerte anunciada")
    
    elif (quarantine_days >= 20) & (quarantine_days <40):
        print ('Rebeca builds her Foundation of Analysis I class')
        
    else:
        print ("The lady works out")
    
    print (f'The day number {quarantine_days} of quarantine is over. \n ')
    
    # Days increase
    quarantine_days = quarantine_days + 1
    stress_level = stress_level * 2

print ("Quarantine is over.")

5. Pandas with While loop

In [113]:
import pandas as pd
data1 = {'names': ['Martins', 'Raul', 'Estremadoyro', "Kante", 'Tigo', 'Betson', 'Finado', 'Alex', 'Miracles', 'Bambi'], 
     'age': [23, 25, 36, 78, 90, 32, 100, 24, 12, 18]}
people = pd.DataFrame( data = data1)
people

          names  age
0       Martins   23
1          Raul   25
2  Estremadoyro   36
3         Kante   78
4          Tigo   90
5        Betson   32
6        Finado  100
7          Alex   24
8      Miracles   12
9         Bambi   18

In [114]:
i = 0
# row by row
nrows = people.age.count()
while i < nrows:
  
    if people['age'][i] > 150:
        print('Ohhh no a phantom')
        break
    
    elif people['age'][i] < 18:
        # New column
        people.loc[[i], ["pass"]] = "No pass"
    
    else:
        people.loc[[i], ["pass"]] = "Pass"
        
    i += 1

/var/folders/v3/40svjrx14hq103xfyw7qhzsh0000gn/T/ipykernel_8197/1628909998.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Pass' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  people.loc[[i], ["pass"]] = "Pass"

## 4.5. <a id = '4.5.'> References </a>

1. [DataCamp](https://www.datacamp.com/community/tutorials/python-if-elif-else?utm_source=adwords_ppc&utm_medium=cpc&utm_campaignid=1455363063&utm_adgroupid=65083631748&utm_device=c&utm_keyword=&utm_matchtype=b&utm_network=g&utm_adpostion=&utm_creative=332602034358&utm_targetid=dsa-429603003980&utm_loc_interest_ms=&utm_loc_physical_ms=9060932&gclid=CjwKCAiA7dKMBhBCEiwAO_crFCArGqe0fxSaO2q6eTaTtigeALef5CcM1hRWgNI8hMEoVCg-uOwFDhoCu1kQAvD_BwE)
2. https://www.programiz.com/python-programming/if-elif-else
3. https://www.guru99.com/if-loop-python-conditional-structures.html
4. https://www.w3schools.com/python/python_for_loops.asp
5. https://www.programiz.com/python-programming/for-loop
6. https://www.geeksforgeeks.org/loops-in-python/
7. https://www.w3schools.com/python/python_while_loops.asp
8. https://www.programiz.com/python-programming/while-loop
9. https://www.tutorialspoint.com/python/python_while_loop.htm