In [ ]:
import pickle
import pandas as pd
import numpy as np

# 5. Functions and Class
In this class we will cover everything related to creating functions and clases in Python.

- <a href='##5.1.'>5.1. Functions</a>
     - <a href='##5.1.1.'>5.1.1. The Importance of Python Functions </a> 
     - <a href='##5.1.2.'>5.1.2. Basic structure of a function </a> 
     - <a href='##5.1.3.'>5.1.3. Function without `return` function </a> 
     - <a href='##5.1.5.'>5.1.5. Multiple objects for return </a> 
     - <a href='##5.1.5.'>5.1.5. If condition with return </a>
     - <a href='##5.1.6.'>5.1.6. Default values to parameters </a> 
     - <a href='##5.1.7.'>5.1.7. Specify the type of a parameter and the type of the return type of a function </a> 
     - <a href='##5.1.8.'>5.1.8. Local variables VS Global variables </a> 
     - <a href='##5.1.9.'>5.1.9. Args </a> 
     - <a href='##5.1.10.'>5.1.10. Kwargs </a> 
- <a href='##5.2.'>5.2. Class </a> 
     - <a href='##5.2.1.'>5.2.1. The Importance of Python Classes </a> 
     - <a href='##5.2.2.'> 5.2.2. Defining a class </a> 
     - <a href='##5.2.3.'> 5.2.3. Attributes </a> 
     - <a href='##5.2.5.'> 5.2.5. Method </a>
     - <a href='##5.2.6.'> 5.2.6. \_\_init\_\_() </a>
     - <a href='##5.2.7.'> 5.2.7. Self </a>
- <a href='##5.3.'>5.3. References </a>

##  <a id='#5.1.'>5.1. Functions</a>

### <a id = '#5.1.1.'> 5.1.1.The Importance of Python Functions </a>

- Abstraction and Reusability: Replicate the code you will use over and over again.
- Modularity: Functions allow complex processes to be broken up into smaller steps.
- Namespace Separation: It allows you to use variables  and used within a Python function even if they have the same name as variables defined in other functions or in the main program.

### <a id='#5.1.2.'> 5.1.2. Basic structure of a function </a> 
A function requires **parameters**, **code** to execute and the **return** function. The **def** keyword introduces a new Python function definition.

This is the basic structure:
<br><br>

<font size="4">
def name_function<font color='green'>( parameter1, parameter2 )</font>: <br> <br>
&nbsp;&nbsp;&nbsp;&nbsp;Code<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;<font color='green'>return</font> final_output<br>
</font>

In [1]:
import numpy as np

In [7]:
def multiplication(x, y, z):
    '''Esta funcion sirve para multiplicar tres variables'''
    result = x*y*z
    return result

In [8]:
multiplication(8, 6, 2)

96

In [13]:
def info_students(x, y, z):
    
    if z == 1:
        name = f"Her name is {x}"
        lastname = "Her lastname is {}".format(y)
        
    else:
        name = "His name is {}".format(x)
        lastname = "His lastname is {}".format(y)
    
    return print(name,",",  lastname)

In [14]:
info_students("Guillermo", "Coronado", False)

His name is Guillermo , His lastname is Coronado

In [15]:
def calculator(x, y):
    
    if x < y:
        print("division out range")
        result = np.nan
    else: 
        result  = x/y
    
    return result

In [17]:
calculator(2, 3)

division out range

nan

In [25]:
def calculator( x, y, z ):
    
    result = x * y * z
    
    return result

In [19]:
calculator( 158, 38, 10 )

60040

In [20]:
calculator( 4, 7, 0)

0

In [26]:
return1 = calculator( 4, 7 )
return1

TypeError: calculator() missing 1 required positional argument: 'z'

### <a id='#5.1.3.'>5.1.3. Function without `return` function </a> 
When we define a function without the `return` function, the generated function does not return any output.

In [27]:
x2 = 5
y2 = 10

In [30]:
def calculator_square( x, y ):
    
    x2 = x * x
    y2 = y * y
    
    result = x2 * y2   
    return result

In [31]:
calculator_square( x2, y2 )

2500

In [ ]:
calculator_square( x, y )

In [ ]:
return2 = calculator_square( 4, 7 )
return2

In [ ]:
def info_students(x, y, z):
    
    if z == 1:
        name = "Her name is {}".format(x)
        lastname = "Her lastname is {}".format(y)
        
    else:
        name = "His name is {}".format(x)
        lastname = "His lastname is {}".format(y)
    
    return print(name,",",  lastname)
    #return lastname

In [32]:
def info_students(x, y, z, s, e):
    
    if z == 1:
        name = f"Her name is {x}"
        lastname = "Her lastname is {}".format(y)
        school = "Her school is {}".format(s)
        
        if e >= 18: 
            age = "She is an adult"
    
        else:
            age = "She is a kid"
        
    else:
        name = "His name is {}".format(x)
        lastname = "His lastname is {}".format(y)
        school = "His school is {}".format(s)
        
        if e >= 18: 
            age = "He is an adult"
    
        else:
            age = "He is a kid"

    #return print(name,",",  lastname)
    return name, lastname, school, age

In [ ]:
tupe_1 = (10, 20, "true", True)
tupe_1[1]

In [33]:
info_students("Gabriela", "Narvaez", True , "CIFO", 17)

('Her name is Gabriela',
 'Her lastname is Narvaez',
 'Her school is CIFO',
 'She is a kid')

In [34]:
name_student =  info_students("Gabriela", "Narvaez", True , "CIFO", 17)

In [35]:
name_student

('Her name is Gabriela',
 'Her lastname is Narvaez',
 'Her school is CIFO',
 'She is a kid')

In [36]:
name

NameError: name 'name' is not defined

### <a id='#5.1.5.'>5.1.5. Multiple objects for return </a> 
The output of a function can have several objects. These objects are stored in a tuple by default.

In [37]:
def calculator_square( x, y ):
    
    x2 = x * x
    y2 = y * y
    
    result = x2 + y2   
    
    return result, x2, y2

In [38]:
calculator_square(3, 4)

(25, 9, 16)

In [39]:
result4 = calculator_square( 8, 9 )
result4

(145, 64, 81)

In [40]:
type(result4)

tuple

In [41]:
result4[2]

81

We can name the outputs in one line.

In [43]:
result4

(145, 64, 81)

In [44]:
output_1 = result4[0]
output_2 = result4[1]
output_3 = result4[2]

In [45]:
output_2

64

In [46]:
result5, x_2, y_2 = calculator_square( 8, 9 )

In [50]:
result5

145

### <a id='#5.1.5.'>5.1.5. If condition with return </a>

In [51]:
def calculator_square( x, y ):
    
    x2 = x * x
    y2 = y * y
    
    result = x2 * y2   
    
    if ( 200 >= result ):
        return result, x2, y2
    
    elif ( 500 >= result > 200 ):
        print( "Large number. Get only the result variable")
        return result
    
    else:
        print( "Too large number. Do not return variables!")

In [52]:
calculator_square( 2, 10 )

Large number. Get only the result variable

400

In [55]:
calculator_square( 3, 2 )

(36, 9, 4)

In [54]:
calculator_square( 8, 10 )

Too large number. Do not return variables!

### <a id='#5.1.6.'>5.1.6. Default values to parameters </a> 
We can define default values to parameters.

In [56]:
def calculator_base_20(x, y=20):
    result = x*y
    return result

In [59]:
calculator_base_20(x=5,y=5)

25

In [ ]:
def calculator_base_10(x, y = 10):
    result = x*y
    return result

In [ ]:
calculator_base_10(15, y = 9)

In [ ]:
def calculator_base_5( x , y = 5 ):
    
    result = x * y
    
    return result

In [ ]:
calculator_base_5( x )

In [ ]:
result3 = calculator_base_5( 7 )
result3

In [60]:
def info_students(x, y, s, e, sex=True):
    
    if sex == 1:
        name = "Her name is {}".format(x)
        lastname = "Her lastname is {}".format(y)
        school = "Her school is {}".format(s)
        
        if e >= 18: 
            age = "She is an adult"
    
        else:
            age = "She is a kid"
        
    else:
        name = "His name is {}".format(x)
        lastname = "His lastname is {}".format(y)
        school = "His school is {}".format(s)
        
        if e >= 18: 
            age = "He is an adult"
    
        else:
            age = "He is a kid"

    #return print(name,",",  lastname)
    return name, lastname, school, age

In [61]:
info_students("Cristhian", "Alfaro","CIFO", 17)

('Her name is Cristhian',
 'Her lastname is Alfaro',
 'Her school is CIFO',
 'She is a kid')

### <a id='#5.1.7.'>5.1.7. Specify the type of a parameter and the type of the return type of a function </a> 

It is important to note that Python won't raise a TypeError if you pass a float into x, the reason for this is one of the main points in Python's design philosophy: "We're all consenting adults here", which means you are expected to be aware of what you can pass to a function and what you can't. If you really want to write code that throws TypeErrors you can use the isinstance function to check that the passed argument is of the proper type or a subclass of it like this:

In [64]:
def calculator_base_30( x:int, y:float ) -> float:
    result = x*y
    return result

In [65]:
calculator_base_10( 4.5, 4 )

18.0

In [66]:
def calculator_base_5( x : int, y : float ) -> float:
    
    result = x * y
    
    return result

In [67]:
x2**"Trea"

TypeError: unsupported operand type(s) for ** or pow(): 'int' and 'str'

In [69]:
calculator_base_5( "a", 15 )

'aaaaaaaaaaaaaaa'

In [70]:
def calculator_base_5( x : int, y : float , z:list, ) -> float:
    
    if not isinstance( x , int ):
        raise TypeError( "X variable is not int type.")
        
    if not isinstance( y, float ):
        raise TypeError( "Y variable is not float type.")
    
    if not isinstance( z, list ):
        raise TypeError( "Z variable is not list type.")

    result = x * y
    
    
    return result

In [71]:
calculator_base_5( 3.0, 5.8, [1,2])

TypeError: X variable is not int type.

In [72]:
calculator_base_5( 4.5, 3)

TypeError: calculator_base_5() missing 1 required positional argument: 'z'

In [ ]:
calculator_base_5( 4, 3 )

In [ ]:
calculator_base_5( 4, 3.8 )

### <a id='#5.1.8.'>5.1.8. Local variables VS Global variables </a> 

|Variables|Definition|
|---|---|
|Global Variables| Variables declared outside a function.|
|Local Variables | Variables declared inside a function.|

The parameters and the variables created inside a function are local variables. They take values when the function is executed; however, they do not exist outside the function since they belong to a different namespace. A namespace is a system that has a unique name for every object in Python. When a Python function is called, a new namespace is created for that function, one that is distinct from all other namespaces that already exist. That is the reason we can use various functions with parameters and variables with the same name. Additionally, it explains why the variables generated inside a function do not exist outside the defined function namespace.

#### Example

In [73]:
def lower_case( string1  ):
    
    str_result = string1.lower()
    
    return str_result

In [74]:
lower_case( "ADRIANA")

'adriana'

In [75]:
str_result

NameError: name 'str_result' is not defined

In [ ]:
result2 = lower_case( "DIPLOMA")
result2

Now, we try to call the variable `str_result`.

In [ ]:
str_result

We can see that `str_result` is not defined. It does not exist in the main space. It was defined in the namespace of **lower_case**. In concluion, `str_result` is a local variable. <br>
`result2` is a global variable.

### <a id='#5.1.9.'>5.1.9. Args </a> 

The special syntax **\*args** in function definitions in python is used to pass a variable number of arguments to a function. The object **\*args** is a **tuple** that contains all the arguments. When you build your code, you should consider **\*args** as a **tuple**.

In [ ]:
def calculator( *args ):
    
    print( f"args is a {type( args )}" )
    # Get the first value
    result = args[ 0 ]
    
    # Keep the rest of values
    args1 = args[ 1: ]
    
    # multiply all elements
    for element in args1:
        result = result * element
    
    return result

In this example, the values `8, 9, 50 and 40` are storing in a list.

In [ ]:
calculator( 1,2, 3,4)

args is a <class 'tuple'>

24

We can use **\*args** with a different name (e.g., **\*list_vars** ). We should keep the asterisk (**\***).

In [ ]:
def calculator( *list_vars ):
    
    print( f"args is a { type( list_vars ) }" )
    # Get the first value
    result = list_vars[ 0 ]
    
    # Keep the rest of values
    list_vars1 = list_vars[ 1: ]
    
    # multiply all elements
    for element in list_vars1:
        result = result * element
    
    return result

In [ ]:
calculator( 8, 9, 50, 40, 23, 20, 12 )

args is a <class 'tuple'>

794880000

### <a id='#5.1.10.'>5.1.10. Kwargs </a> 

The special syntax **\*kwargs** in function definitions in python is used to pass a keyworded, variable-length argument list. We use the name kwargs with the double star. The reason is because the double star allows us to pass through keyword arguments (and any number of them).

In [3]:
def calculator( *list_vars, **kwargs):
    
    print( type( list_vars ) )
    print( type( kwargs ) )
    
    if ( kwargs[ 'function' ] == "division" ) :
        
        # Get the first value
        result = print( list_vars[0] )
    
    elif ( kwargs[ 'function' ] == "multiplication" ) :

        # Get the first value
        result = list_vars[ 0 ]

        # Keep the rest of values
        list_vars2 = list_vars[ 1: ]

        # multiply all elements
        for element in list_vars2:
            result = result * element
    else:
        raise ValueError( f"The function argument {kwargs[ 'function' ]} is not supported." )

    return result

In [4]:
calculator( 4, 5, 6, 7, 8, function = "division" )

<class 'tuple'>
<class 'dict'>
4

In [ ]:
calculator( 4, 5, 6, 7, 8, function = "multiplication" )

<class 'tuple'>
<class 'dict'>

6720

### <a id='#5.2.'>5.2. Class </a> 

A class is a user-defined blueprint or prototype from which objects are created. Classes provide a means of bundling data and functionality together. Creating a new class creates a new type of object, allowing new instances of that type to be made.

### <a id='#5.2.1.'>5.2.1. The Importance of Python Classes </a> 

Classes are a way to organize your code into generic, reusable peices. At their best they are generic blueprints for things that will be used over and over again with little modification. The original concept was inspired by independent biological systems or organism unique from other organisms by the set or collection of features (attributes) and abilities (methods).

Functions are great to use when data is central to the work being done. Classes are great when you need to represent a collection of attributes and methods that will be used over and over again in other places.

Generally if you find your self writing functions inside of functions you should consider writing a class instead. If you only have one function in a class then stick with just writing a function.



- Classes provide an easy way of keeping the data members and methods together in one place which helps in keeping the program more organized.
- Using classes also provides another functionality of this object-oriented programming paradigm, that is, inheritance.
- Classes also help in overriding any standard operator.
- Using classes provides the ability to reuse the code which makes the program more efficient.
- Grouping related functions and keeping them in one place (inside a class) provides a clean structure to the code which increases the readability of the program.

###  <a id='#5.2.2.'> 5.2.2. Defining a class </a> 
it is considered to be a good practice to include a brief description about the class to increase the readability and understandability of the code.

<font size="4">
<font color='green'>class</font> class_name:<br> <br>
&nbsp;&nbsp;&nbsp;&nbsp;    """Description""" <br><br>
&nbsp;&nbsp;&nbsp;&nbsp;<font color='red'>def __init__</font><font color  = 'blue'>( <font color='red'>self</font>, parameter1, parameter2 )</font>:<br><br>
</font>

### <a id='#5.2.3.'> 5.2.3. Attributes </a> 
A value associated with an object which is referenced by name using dotted expressions. For example, `np.size`.

In [87]:
import numpy as np 

A = np.arange( 8, 25 , 2)
A

array([ 8, 10, 12, 14, 16, 18, 20, 22, 24])

In [88]:
A.ndim

1

In [89]:
A.shape

(9,)

In [90]:
A.dtype

dtype('int64')

In [ ]:
#list_1  =  ["alex", "Anzony", "Mariela"]

In [ ]:
#list_1

In [91]:
# this an attribute / size
A.itemsize

8

In [ ]:
#
A.shape

### <a id='#5.2.5.'> 5.2.5. Method </a>
A function which is defined inside a class body. If called as an attribute of an instance of that class, the method will get the instance object as its first argument (which is usually called self). See function and nested scope.

In [92]:
A = np.arange( 8, 25 )
type(A)

numpy.ndarray

In [ ]:
A

In [93]:
#
A.shape

(17,)

In [94]:
A.max()

24

In [ ]:
A.min()# np.max(A)

In [ ]:
A.mean()

In [ ]:
B = A

In [95]:
# this a method
A.reshape( 1, -1 )

array([[ 8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23,
        24]])

In [ ]:
A.shape

In [ ]:
A_2 = A.reshape( 1, -1 )
A_2.shape

In [ ]:
dir(A)

In [ ]:
dir(A)

In [ ]:
dir(A)

In [ ]:
A.min()

|Name| Definition|
|---|---|
|attribute|A variable stored in an instance or class.|
|method|A function stored in an instance or class.|

###  <a id='#5.2.6.'> 5.2.6. \_\_init\_\_() </a>

In python classes, “__init__” method is reserved. It is automatically called when you create an object using a class and is used to initialize the variables of the class. It is equivalent to a constructor.

- Like any other method, init method starts with the keyword **“def”**
- **“self”** is the first parameter in this method just like any other method although in case of init, **“self”** refers to a newly created object unlike other methods where it refers to the current object or instance associated with that particular method.
- Additional parameters can be added

### <a id='#5.2.7.'> 5.2.7. Self</a>
self represents the instance of the class. By using the **“self”** keyword we build attributes and methods for the class in python. It binds the attributes with the given arguments.

In the example, **MyFirstClass** I use self to define attributes and methods.

In [96]:
def print_name(name):
    print(name)

In [97]:
print_name(name = "Alexander")

Alexander

In [98]:
class qlab_students:
    
    def __init__(self, name, age):
        self.name_student = name
        self.age_student = age

    def print_name( self ):
        print( f'I am { self.name_student }.' )
        
    def print_age( self ):
        print( f'I am  { self.age_student } years old' )

In [99]:
student1 = qlab_students( name="Maria Alejandra Colan", age="20"  )

In [100]:
type(student1)

__main__.qlab_students

In [101]:
student1.print_age()

I am  20 years old

In [102]:
# Call methods
student1.print_name()

I am Maria Alejandra Colan.

In [103]:
list_students = ["Daniela", "Angie", "Esteban", "Alexandro", "Alex"]

In [104]:
# Requested by Brisa
class qlab_students_2:
    
    def __init__(self, list_st, ages, schools):
        self.name_student = list_st
        self.age_student = ages
        self.list_school = schools
            
    def first_st_list(self):
        print(f'the first in list is {self.name_student[0]}.')
        
    def first_st_list_alpha(self):
        list_sorted = sorted(self.name_student)
        print(f'the first in the list by alpha order {list_sorted[0]}. ')
    
    def print_name( self ):
        print( f'The list of students is { self.name_student }.' )
        
    def print_age( self ):
        print( f'The range of ages is { self.age_student } years old' ) 
    
    def print_schools( self ):
         print( f'The list of schools is  { self.list_school } ' )

In [105]:
dir(qlab_students_2)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'first_st_list',
 'first_st_list_alpha',
 'print_age',
 'print_name',
 'print_schools']

In [106]:
sorted(list_students)

['Alex', 'Alexandro', 'Angie', 'Daniela', 'Esteban']

In [107]:
list_students = ["Daniela", "Angie", "Esteban", "Alexandro", "Alex"]
list_ages = [20, 19, 18, 20]
list_schools = ["Claretiano", "San Columbano", "2045", "Colegio Mayor" ]

In [108]:
summer_students =  qlab_students_2( list_st = list_students, ages= list_ages, schools=list_schools)

In [109]:
# Atribute 1 
summer_students.first_st_list

In [110]:
# Atribute 2 
summer_students.age_student

[20, 19, 18, 20]

In [111]:
dir(summer_students)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age_student',
 'first_st_list',
 'first_st_list_alpha',
 'list_school',
 'name_student',
 'print_age',
 'print_name',
 'print_schools']

In [ ]:
summer_students.print_schools()

In [ ]:
summer_students.first_st_list_alpha()

In [ ]:
summer_students.print_name()

In [ ]:
summer_students.first_st_list()

In [ ]:
student1.print_age()

In [ ]:
class MyFirstClass:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def print_name_1( self ):
        print( f'I am { self.name }.' )
        
    def print_age_1( self ):
        print( f'I am  { self.age } years old' )

In [ ]:
#MyFirstClass( name = "Dorkas", age = 25)

In [ ]:
student1 = MyFirstClass( name = "Miguel", age = 24)
student1.print_name_1()
student1.print_age_1()

In [ ]:
student_0 = MyFirstClass( name = "Jose" , age = 22, school = "Saco Oliveros" )

In [ ]:
class MyFirstClass:
    
    def __init__( self, name, age ):
        self.name = name
        self.age = age
    
    # best way to define a method
    def print_name_1( self ):
        print( f'I am { self.name }.' )
    
    # wrong way to define a method 
    def print_name_2():
        print( f'This is my { name }.' )
    
    
    # the worst way to call a parameter
    # we need to define them as attributes
    def print_name_3( self ):
        print( f'This is my { name }.' )

In [112]:
class MyFirstClass:
    
    def __init__( self, name, age, school ):
        self.name = name
        self.age = age
        self.school = school
    
    # how to define a method
    def print_name_1( self ):
        print( f'I am { self.name }.' )
    
    # other method
    def person_age( self ):
        print( f' I am { self.name } , I am { self.age } old. ' )
    
    # method
    def person_school( self ):
        print( f' I am {self.name} , I studied at {self.school}. ' )
      
    # # wrong way to define a method 
    def print_name_2():
        print( f'This is my { name }.' )
    
    # the worst way to call a parameter
    # we need to define them as attributes
    # def print_name_3( self ):
    #     print( f'This is my { name }.' )

In [114]:
student2 = MyFirstClass( name = "Jose" , age = 31, school = "Agustiniano" )

In [116]:
student2.print_name_1

In [ ]:
student2.person_school()

In [ ]:
student2.print_name_2()

In [ ]:
student_0 = MyFirstClass( name = "Jose" , age = 22, school = "Saco Oliveros" )

In [ ]:
student_0.person_school()

In [ ]:
student_0.print_name_3()

In [ ]:
student_0.print_name_1()

When we create an object using a class, we have an instance of this class.

In [113]:
student1 = MyFirstClass( name = "Jose" , age = 22 )

TypeError: MyFirstClass.__init__() missing 1 required positional argument: 'school'

Attributes

In [ ]:
student1.age

In [ ]:
student1.name

Methods

In [ ]:
# Calling like an attribute
student1.print_name_1

In [ ]:
# Calling like as a method
student1.print_name_1()

When we do not use the **self** keyword, the class do not recognize `print_name_2` function as a method.

In [ ]:
student1.print_name_2()

When we do not use the **self** keyword, the class does not recognize `name` variable. We need to define it as an `attribute`. Classes are not the same as functions. In functions, the parameters are identified in the namespace, but in classes, they do not.

In [ ]:
student1.print_name_3()

# <a id='#5.3.'>5.3. References </a>  

- [Functions](https://www.datacamp.com/community/tutorials/functions-python-tutorial?utm_source=adwords_ppc&utm_medium=cpc&utm_campaignid=1455363063&utm_adgroupid=65083631748&utm_device=c&utm_keyword=&utm_matchtype=&utm_network=g&utm_adpostion=&utm_creative=332602034358&utm_targetid=dsa-473406571355&utm_loc_interest_ms=&utm_loc_physical_ms=9060932&gclid=CjwKCAiAqIKNBhAIEiwAu_ZLDp9lkv0t5drR4g_hjgXp0DBU3XoRLPEeQT9wGMhCyiZd09kjsAXKaRoCFmUQAvD_BwE)
- [Functions](https://www.w3schools.com/python/python_functions.asp)
- [Args and Kwargs](https://book.pythontips.com/en/latest/args_and_kwargs.html)

- [Clases](https://www.geeksforgeeks.org/namespaces-and-scope-in-python/#:~:text=A%20namespace%20is%20a%20system,form%20of%20a%20Python%20dictionary.&text=Its%20Name%20(which%20means%20name,talks%20something%20related%20to%20scope)

- [Clases](https://www.geeksforgeeks.org/python-classes-and-objects/)

- [Clases Advantages](https://intellipaat.com/blog/tutorial/python-tutorial/python-classes-and-objects/#_Advantages_of_class)

- [Self](https://www.geeksforgeeks.org/self-in-python-class/)

- [FU](https://realpython.com/defining-your-own-python-function/#functions-in-python)

- https://stackoverflow.com/questions/46312470/difference-between-methods-and-attributes-in-python

- https://stackoverflow.com/questions/2489669/how-do-python-functions-handle-the-types-of-parameters-that-you-pass-in