# Listas, tuples y diccionarios

*   Instructor: Victor Fuentes Campos
*   Curso: Fundamentos de Programación en Python para Macroeconomía y Finanzas
*   Adapatado de las clases de [Carla Solís](https://github.com/ccsuehara/python_para_las_ccss/blob/main/Clase%202/Listas.ipynb) y [Alexander Quispe](https://github.com/alexanderquispe/QLAB_Summer_Python/blob/main/Lecture_2/Lecture_2.ipynb)

<a class="anchor" id="principio"></a>

## Introducción

Hasta ahora los tipos de datos que hemos estudiado tienen un sólo elemento. Sin embargo, hay estructuras más complejas que pueden contener varios de esos tipos de datos. 

[1. Listas](#listas)   
[2. Tuples](#tuples)  
[3. Diccionarios](#diccionarios)

<a class="anchor" id="listas"></a>
## 1. [Listas](https://www.w3schools.com/python/python_lists.asp)

Empecemos con un video sencillo sobre [listas](https://www.youtube.com/watch?v=MwyD9PmyW3k)

- Las listas nos permiten almacenar varios tipos de datos como un conjunto ordenado de valores
- Es modificable
- Es una estructura de datos muy versátil y puede hacer muchas tareas

### Lo básico

¿Cómo hacemos una lista? Usamos **brackets []**

In [1]:
lst = [1,2,3,4,5] # Brackets con elementos separados por comas
print(lst)

[1, 2, 3, 4, 5]

In [3]:
cursos = ["Historia", "Economia", "Antropologia", "RSP", "Derecho"]
print(cursos)

['Historia', 'Economia', 'Antropologia', 'RSP', 'Derecho']

Las listas pueden contener elementos de diferentes tipos

In [4]:
mi_lista = [5, "hola", 50.55, True, "chau"]
mi_lista

[5, 'hola', 50.55, True, 'chau']

Usualmente, trabajamos con listas que tienen datos del mismo tipo, ya que iteramos con ellas y el código podría arrojar error.

Ojo: Aquí los brackets son diferentes a los que se usan para rebanar strings!

In [5]:
mensaje = "Buenos días con todas y todos"
mensaje[0:10]

len(mensaje)

29

Aquí creamos una lista vacía

In [6]:
vacia = []

Se pueden sumar listas

In [7]:
primera_parte = [1, 2, 3, 4, 5]
segunda_parte = [6, 7, 8, 9, 10]

primera_parte + segunda_parte

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
primera_parte[4]

5

A veces queremos una lista de un tamaño determinado:

In [10]:
n = 15
lst = [0] * n
lst

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [12]:
n = 4
lst = [0, 1, 2] * n
print(lst)   ## La multiplicación repite la lista n veces

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

Podemos ver cuántos elementos tiene una lista

In [13]:
print(len(mi_lista))
print(len(segunda_parte))
print(len(lst))

5
5
12

Se pueden acceder a elementos individuales de una lista.   

>OJO: Python es un lenguaje indexado en 0, por lo que la enumeración de las listas empieza en 0

In [14]:
cursos

['Historia', 'Economia', 'Antropologia', 'RSP', 'Derecho']

In [15]:
cursos[1]

'Economia'

In [16]:
cursos[3]

'RSP'

Se puede acceder a una rebanada de la lista

In [17]:
cursos[0:4] ## Ojo: El ultimo elemento del intervalo no está incluido!

['Historia', 'Economia', 'Antropologia', 'RSP']

In [18]:
cursos[-1] # Eligiendo el último elemento de la  lista

'Derecho'

In [19]:
cursos[-2] # El penúltimo

'RSP'

In [20]:
print(cursos)
print(cursos[1:-2]) # Eligiendo desde el elemento 2 hasta el penúltimo (útil cuando no sabemos el total de los elementos)

['Historia', 'Economia', 'Antropologia', 'RSP', 'Derecho']
['Economia', 'Antropologia']

In [ ]:
cursos[3:len(cursos)] # Rebanando con el length de la lista

In [ ]:
nums = [0,1,2,3,4,5,6,7,8,9]
nums[1:8:2] #Rebanando desde el elemento 1 al 8(no inclusivo) cada 2 elementos.

In [ ]:
nums[::-1] ## Así invertimos una lista.  Si los elementos se quedan vacíos, asume todo el rango.

Las listas pueden tener indexes fuera de rango. En este ejemplo, el indice 20 se comporta igual que len(lst) + 1.  

No tener que preocuparnos por los indexes, puede ser conveniente!

In [ ]:
print(nums[0:20]) 
print(nums[0:len(nums) + 1])
print(nums[0:len(nums)])

In [ ]:
len(nums)+ 1

### Modificando una lista

Las listas son objetos **mutables**, lo cual indica que sus valores se pueden modificar después de su creación (se pueden cambiar, agregar, eliminar elementos). Otras estructuras, como los strings y las tuplas, no se pueden cambiar.

Para modificar una lista, podemos hacer lo siguiente

In [21]:
cursos

['Historia', 'Economia', 'Antropologia', 'RSP', 'Derecho']

In [22]:
cursos[3] = "Sociologia"
cursos

['Historia', 'Economia', 'Antropologia', 'Sociologia', 'Derecho']

### Una propiedad curiosa de las listas (MEGA IMPORTANTE)

Imaginen que tenemos una lista, y queremos hacer una copia de dicha lista:

In [27]:
lst_a = [1,2,3,4]
lst_b = lst_a

Ahora, modifiquemos la lst_a:

In [28]:
lst_a[2] = 5
lst_a

[1, 2, 5, 4]

¿ Qué pasó con la otra lista?

In [29]:
lst_b

[1, 2, 5, 4]

También ha cambiado!!!

### Por qué pasa esto?

Cuando creamos una lista, como la lst_b, que hace referencia a otra lista, la lst_a, no estamos creando un objeto nuevo. Simplemente **hacemos referencia** al mismo objeto, pues los dos señalan el mismo espacio que dicho objeto ocupa en la memoria. Cualquier modificación que se haga, ya sea a lst_a o lst_b, modificará al mismo objeto.

### ¿Cómo probamos cuándo hacemos referencia al mismo objeto?

Aquí introducimos el comando `id`

In [30]:
print(id(lst_a))
print(id(lst_b)) ## Tienen los mismos ids!

4389856832
4389856832

El operador `is` nos ayuda a determinar si dos variables se refieren al mismo objeto:

In [31]:
lst_a is lst_b

True

### Los nombres de variables son como referencias


Cuando nombramos a una variable, la variable no es su nombre en sí, sino es una referencia a un lugar de la memoria. La `lst_a` no es [1,2,3,4] , sino hace referencia a dicho objeto. La `lst_b`, al haberla creado como `lst_b` = `lst_a`, también hace referencia al mismo objeto. 

Los nombres son como "etiquetas" o "alias" que se le dan a los objetos. En este caso, hicimos una copia falsa.

<img src="https://raw.githubusercontent.com/ccsuehara/python_para_las_ccss/edfdf1c75e54488bc17366c1daa1e00f0e241c8d/Clase%202/img/lsts.png" width="800">

### Haciendo una copia que no referencie al mismo objeto:

Si queremos hacer una copia independiente basada en una lista preexistente, solo tenemos que hacer:

In [34]:
lst_c  = lst_a[:]

In [35]:
id(lst_c)

4389859712

In [36]:
id(lst_a)

4389856832

In [37]:
lst_c is lst_a

False

In [38]:
lst_c == lst_a

True

In [ ]:
lst_d = lst_a.copy() ## Otra forma de crear una copia

### Métodos que modifican a las listas

In [39]:
cursos = ["Historia", "Economia", "Antropologia", "RSP", "Derecho"]

#### - `append`

In [40]:
cursos.append("Sociologia")
cursos

['Historia', 'Economia', 'Antropologia', 'RSP', 'Derecho', 'Sociologia']

#### - `extend` 
(solo acepta un único argumento iterable, como otra lista!)

In [41]:
mas_cursos = ['Mate', 'Estadistica']
cursos_copy = cursos[:]
cursos_copy.extend(mas_cursos)
cursos_copy

['Historia',
 'Economia',
 'Antropologia',
 'RSP',
 'Derecho',
 'Sociologia',
 'Mate',
 'Estadistica']

In [ ]:
cursos_copy = cursos[:]
cursos_copy.append(mas_cursos)
cursos_copy

#### - `insert`

Este método toma 2 argumentos: la posición en la lista y el elemento a agregar

In [42]:
cursos = ["Historia", "Economia", "Antropologia", "RSP", "Derecho"]

cursos.insert(2,"Psicologia")
cursos

['Historia', 'Economia', 'Psicologia', 'Antropologia', 'RSP', 'Derecho']

#### - `pop`

In [43]:
cursos.pop()
cursos

['Historia', 'Economia', 'Psicologia', 'Antropologia', 'RSP']

In [44]:
cursos.pop(0)
cursos

['Economia', 'Psicologia', 'Antropologia', 'RSP']

#### - `count`

In [45]:
num_lst = [1, 1, 2, 3, 4, 5, 6, 7, 8, 1, 9, 9]
num_lst.count(1)

3

In [ ]:
num_lst.count(0)

In [ ]:
num_lst.count(9) > 1

In [46]:
4 in num_lst ## Otra forma de ver la pertenencia.

True

In [47]:
13 in num_lst

False

#### - `reverse`

In [48]:
num_lst.reverse()
num_lst

[9, 9, 1, 8, 7, 6, 5, 4, 3, 2, 1, 1]

####  - `sort`

In [49]:
num_lst.sort()
num_lst

[1, 1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 9]

### Métodos para listas numéricas

In [ ]:
sum(num_lst)

In [ ]:
min(num_lst)

In [ ]:
max(num_lst)

In [ ]:
len(num_lst)

In [ ]:
sum(num_lst)/len(num_lst)

In [ ]:
num_lst

Se pueden hacer operaciones con los elementos (numéricos) de una lista

In [50]:
print(num_lst)

print(num_lst[1] * num_lst[2] * num_lst[3])

[1, 1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 9]
2

###  Listas de listas

In [51]:
mat = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [52]:
mat

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [53]:
mat[0][1]

2

In [54]:
mat[2][2]

9

In [55]:
lista_vacia = []
lista_llena= [[1,2,3,4,5], [6,7,8,9,10], ['Economia', ['Psicologia', 'Antropologia'], 'RSP', 'Derecho']]

In [56]:
lista_llena[2][2]

'RSP'

<a class="anchor" id="listas"></a>
## 2. [Tuples](https://www.datacamp.com/tutorial/python-tuples-tutorial)

- Como una lista, pero los elementos están ordenados y no se puedne modificar, agregar o remover
- Admite valores duplicados

¿Cómo hacemos un tuple? Usamos **paréntesis ()**

In [57]:
tuple1 = (1, 3, 3, 5, 10, "alex", True)
tuple1

(1, 3, 3, 5, 10, 'alex', True)

In [58]:
tuple1[3:6]

(5, 10, 'alex')

In [59]:
tuple1[0] = 15

TypeError: 'tuple' object does not support item assignment

In [60]:
colegio = "guadalupe"

In [61]:
colegio[0] = "G"
colegio

TypeError: 'str' object does not support item assignment

Algunos métodos de los tuples

| Method 	| Definition 	|
|---	|---	|
| count() | Returns the number of times <br> a specified value occurs in a tuple 	|
| index() |	Searches the tuple for a specified value <br> and returns the position of where it was found 	|

In [65]:
tuple1 = (1, 0, 3, 5, 10, 5, 5)

In [66]:
# count
#print( tuple1 )
tuple1.count(1)

1

In [64]:
tuple1.index(3)

2

Algunas funciones de los tuples

| Function 	| Definition 	|
| --- 	| --- 	|
| type(tuple) 	| It returns the class type of an object. 	|
| max(tuple) 	| It returns an item from the tuple with max value. 	|
| min(tuple) 	| It returns an item from the tuple with min value. 	|
| len(tuple) 	| It gives the total length of the tuple. 	|
| tuple( list ) 	| Converts a list into a tuple. 	|

In [ ]:
len(tuple1)

In [ ]:
tuple2 = ( 1, 3, 3, 5, 10, (5, 6, 7) )
print(tuple2)

In [ ]:
tuple2 = ("alex", 5, True)
tuple2

In [ ]:
len(tuple2[0])

In [ ]:
tuple3 = ( 1, 2, 3, 4, 5, 10 )
tuple3

In [ ]:
print(len(tuple3))
print(min(tuple3))

<a class="anchor" id="Diccinario"></a>
## 3. [Diccionario](https://www.datacamp.com/tutorial/dictionary-python)

- Similar a una lista, pero no es indexado por una secuencia de números, sino de `keys`

| Method 	| Definition 	|
| --- 	| --- 	|
|clear()|	Removes all the elements from the dictionary|
|copy() |	Returns a copy of the dictionary|
|fromkeys() |	Returns a dictionary with the specified keys and value|
|get() |	Returns the value of the specified key|
|items() |	Returns a list containing a tuple for each key value pair|
|keys() | Returns a list containing the dictionary's keys|
|pop() | Removes the element with the specified key|
|popitem() | Removes the last inserted key-value pair|
|setdefault() | Returns the value of the specified key. <br> If the key does not exist: insert the key, with the specified value|
|update() |	Updates the dictionary with the specified key-value pairs |
|values() | Returns a list of all the values in the dictionary|

In [67]:
angie = { "lastname" : "Quispe", "age": 21, "birth_place": "Chosica", "male" : False}
angie

{'lastname': 'Quispe', 'age': 21, 'birth_place': 'Chosica', 'male': False}

In [68]:
alexander = { 'lastname': "Quispe,", 'age': 28, 'birth_place': "SJL", 'male' : True}
maria = { 'lastname': "rojas", 'age': 27, 'birth_place': "SMP", 'male' : False}

In [69]:
lastanme = ["Quispe", "Rojas", "Rodriguez"]
ages = [28, 29, 30]

In [70]:
dict_1 = { "lastname" : ["Quispe", "Rojas", "Rodriguez"],
          "ages":[28, 29, 30], "birth_place": "SJL", 'male' : True}
dict_1["lastname"]

['Quispe', 'Rojas', 'Rodriguez']

In [71]:
alexander["male"]

True

In [72]:
# Clear
angie.clear()
angie

{}

In [73]:
type(angie)

dict

In [74]:
# dictionary containing the population of the 5 largest german cities
population = {'Berlin': 3748148, 'Hamburg': 1822445, 
              'Munich': 1471508, 'Cologne': 1085664, 
              'Frankfurt': 753056 }

type( population )

dict

In [75]:
population["Frankfurt"]

753056

In [76]:
# Get information from key
population.items()

dict_items([('Berlin', 3748148), ('Hamburg', 1822445), ('Munich', 1471508), ('Cologne', 1085664), ('Frankfurt', 753056)])

In [77]:
population.keys()

dict_keys(['Berlin', 'Hamburg', 'Munich', 'Cologne', 'Frankfurt'])

In [78]:
population.values()

dict_values([3748148, 1822445, 1471508, 1085664, 753056])

In [ ]:
population.pop("Frankfurt")

In [ ]:
stadiums = { "munich":"Alianz Arena","dormundt": "SIP", "ulm": "18-60ULM", "shalke": "GAZPROM"}

In [ ]:
population.update( {"stadiums": stadiums} )
type(population["stadiums"])

In [ ]:
population

### Listas a diccionarios

In [79]:
# keys
cities = ['Fray Martin','Santa Rosa de Puquio','Cuchicorral','Santiago de Punchauca',
          'La Cruz (11 Amigos)','Cerro Cañon','Cabaña Suche','San Lorenzo',
          'Jose Carlos Mariategui','Pascal','La Esperanza','Fundo Pancha Paula','Olfa',
          'Rio Seco','Paraiso','El Rosario','Cerro Puquio','La Campana','Las Animas',
          'Vetancio','Roma Alta','San Jose','San Pedro de Carabayllo','Huacoy',
          'Fundo Pampa Libre','Ex Fundo Santa Ines','Reposo','Carmelito','Santa Elena'
          'Don Luis','Santa Ines Parcela','Asociacion Santa Ines','Roma Baja',
          'Residencial Santa Lucia','San Francisco','Santa Margarita - Molinos','Sipan Peru',
          'Fundo Cuadros','Bello Horizonte','El Hueco','Ex Fundo Mariategui','Naranjito',
          'Vista Hermosa','El Sabroso de Jose Carlos Mariategui','Granja Carabayllo',
          'Agropecuario Valle el Chillon','Camino Real','Copacabana','El Trebol',
          'Tablada la Virgen','San Fernando de Carabayllo','San Fernando de Copacabana',
          'La Manzana','Chacra Grande','Torres de Copacabana','San Pedro de Carabayllo',
          'San Lorenzo','Chaclacayo','Chorrillos','Cieneguilla','Lindero','Pichicato','San Isidro',
          'San Vicente','Piedra Liza','Santa Rosa de Chontay (Chontay)','La Libertad','El Agustino',
          'Independencia','Jesus Maria','La Molina','La Victoria','Lince','Las Palmeras','Chosica',
          'Lurin','Los Almacigos','Rinconada del Puruhuay','Fundo Santa Genoveva','Los Maderos',
          'Casco Viejo','Vista Alegre','Buena Vista Alta','Lomas Pucara','Fundo la Querencia',
          'Magdalena del Mar','Pueblo Libre','Miraflores','Pachacamac','Puente Manchay','Tambo Inga',
          'Pampa Flores','Manchay Alto Lote B','Invasion Cementerio','Manchay Bajo',
          'Santa Rosa de Mal Paso','Cardal','Jatosisa','Tomina','Pucusana','Honda','Quipa',
          'Los Pelicanos','Playa Puerto Bello','Ñaves','Granja Santa Elena','Alvatroz II',
          'Poseidon - Lobo Varado','Playa Minka Mar','Playa Acantilado','Puente Piedra','Punta Hermosa','Capilla Lucumo','Cucuya','Pampapacta','Avicola San Cirilo de Loma Negra - 03','Avicola San Cirilo de Loma Negra - 02','Avicola San Cirilo de Loma Negra - 01','Pampa Mamay','Cerro Botija','Agricultores y Ganaderos','Pampa Malanche Avicola Puma','Punta Negra','Chancheria','Rimac','San Bartolo','Plantel 41','Granja 4','Granja 5','Granja 07','Granja 44','Granja 47','Santa Maria I','Las Torres Santa Fe','San Francisco de Borja','San Isidro','San Juan de Lurigancho','Ciudad de Dios','San Luis','Barrio Obrero Industrial','San Miguel','Santa Anita - los Ficus','Santa Maria del Mar','Don Bruno','Santa Rosa','Santiago de Surco','Surquillo','Villa el Salvador','Villa Maria del Triunfo', 'Pueblo libre']
# values
postal_code = [15001,15003,15004,15006,15018,15019,15046,15072,15079,15081,15082,15083,15088,15123,15004,15011,15012,15019,15022,15023,15026,15476,15479,15483,15487,15491,15494,15498,15047,15049,15063,15082,15083,15121,15122,15313,15316,15318,15319,15320,15321,15324,15320,15320,15320,15320,15320,15320,15121,15320,15320,15121,15320,15320,15121,15121,15122,15122,15121,15121,15121,15320,15320,15320,15320,15320,15320,15121,15121,15121,15320,15121,15319,15121,15121,15121,15320,15320,15121,15121,15121,15121,15320,15320,15320,15122,15122,15122,15122,15122,15122,15122,15122,15121,15121,15122,15122,15121,15121,15122,15122,15121,15122,15122,15122,15472,15476,15054,15056,15057,15058,15063,15064,15066,15067,15593,15594,15593,15593,15593,15593,15593,15593,15593,15311,15312,15313,15314,15316,15324,15326,15327,15328,15332,15003,15004,15006,15007,15008,15009,15011,15018,15022,15311,15328,15331,15332,15333,15046, 15001]

In [80]:
len(cities)

149

In [81]:
len(postal_code)

150

In [82]:
list( zip( cities , postal_code ) )

[('Fray Martin', 15001),
 ('Santa Rosa de Puquio', 15003),
 ('Cuchicorral', 15004),
 ('Santiago de Punchauca', 15006),
 ('La Cruz (11 Amigos)', 15018),
 ('Cerro Cañon', 15019),
 ('Cabaña Suche', 15046),
 ('San Lorenzo', 15072),
 ('Jose Carlos Mariategui', 15079),
 ('Pascal', 15081),
 ('La Esperanza', 15082),
 ('Fundo Pancha Paula', 15083),
 ('Olfa', 15088),
 ('Rio Seco', 15123),
 ('Paraiso', 15004),
 ('El Rosario', 15011),
 ('Cerro Puquio', 15012),
 ('La Campana', 15019),
 ('Las Animas', 15022),
 ('Vetancio', 15023),
 ('Roma Alta', 15026),
 ('San Jose', 15476),
 ('San Pedro de Carabayllo', 15479),
 ('Huacoy', 15483),
 ('Fundo Pampa Libre', 15487),
 ('Ex Fundo Santa Ines', 15491),
 ('Reposo', 15494),
 ('Carmelito', 15498),
 ('Santa ElenaDon Luis', 15047),
 ('Santa Ines Parcela', 15049),
 ('Asociacion Santa Ines', 15063),
 ('Roma Baja', 15082),
 ('Residencial Santa Lucia', 15083),
 ('San Francisco', 15121),
 ('Santa Margarita - Molinos', 15122),
 ('Sipan Peru', 15313),
 ('Fundo Cuadros', 15316),
 ('Bello Horizonte', 15318),
 ('El Hueco', 15319),
 ('Ex Fundo Mariategui', 15320),
 ('Naranjito', 15321),
 ('Vista Hermosa', 15324),
 ('El Sabroso de Jose Carlos Mariategui', 15320),
 ('Granja Carabayllo', 15320),
 ('Agropecuario Valle el Chillon', 15320),
 ('Camino Real', 15320),
 ('Copacabana', 15320),
 ('El Trebol', 15320),
 ('Tablada la Virgen', 15121),
 ('San Fernando de Carabayllo', 15320),
 ('San Fernando de Copacabana', 15320),
 ('La Manzana', 15121),
 ('Chacra Grande', 15320),
 ('Torres de Copacabana', 15320),
 ('San Pedro de Carabayllo', 15121),
 ('San Lorenzo', 15121),
 ('Chaclacayo', 15122),
 ('Chorrillos', 15122),
 ('Cieneguilla', 15121),
 ('Lindero', 15121),
 ('Pichicato', 15121),
 ('San Isidro', 15320),
 ('San Vicente', 15320),
 ('Piedra Liza', 15320),
 ('Santa Rosa de Chontay (Chontay)', 15320),
 ('La Libertad', 15320),
 ('El Agustino', 15320),
 ('Independencia', 15121),
 ('Jesus Maria', 15121),
 ('La Molina', 15121),
 ('La Victoria', 15320),
 ('Lince', 15121),
 ('Las Palmeras', 15319),
 ('Chosica', 15121),
 ('Lurin', 15121),
 ('Los Almacigos', 15121),
 ('Rinconada del Puruhuay', 15320),
 ('Fundo Santa Genoveva', 15320),
 ('Los Maderos', 15121),
 ('Casco Viejo', 15121),
 ('Vista Alegre', 15121),
 ('Buena Vista Alta', 15121),
 ('Lomas Pucara', 15320),
 ('Fundo la Querencia', 15320),
 ('Magdalena del Mar', 15320),
 ('Pueblo Libre', 15122),
 ('Miraflores', 15122),
 ('Pachacamac', 15122),
 ('Puente Manchay', 15122),
 ('Tambo Inga', 15122),
 ('Pampa Flores', 15122),
 ('Manchay Alto Lote B', 15122),
 ('Invasion Cementerio', 15122),
 ('Manchay Bajo', 15121),
 ('Santa Rosa de Mal Paso', 15121),
 ('Cardal', 15122),
 ('Jatosisa', 15122),
 ('Tomina', 15121),
 ('Pucusana', 15121),
 ('Honda', 15122),
 ('Quipa', 15122),
 ('Los Pelicanos', 15121),
 ('Playa Puerto Bello', 15122),
 ('Ñaves', 15122),
 ('Granja Santa Elena', 15122),
 ('Alvatroz II', 15472),
 ('Poseidon - Lobo Varado', 15476),
 ('Playa Minka Mar', 15054),
 ('Playa Acantilado', 15056),
 ('Puente Piedra', 15057),
 ('Punta Hermosa', 15058),
 ('Capilla Lucumo', 15063),
 ('Cucuya', 15064),
 ('Pampapacta', 15066),
 ('Avicola San Cirilo de Loma Negra - 03', 15067),
 ('Avicola San Cirilo de Loma Negra - 02', 15593),
 ('Avicola San Cirilo de Loma Negra - 01', 15594),
 ('Pampa Mamay', 15593),
 ('Cerro Botija', 15593),
 ('Agricultores y Ganaderos', 15593),
 ('Pampa Malanche Avicola Puma', 15593),
 ('Punta Negra', 15593),
 ('Chancheria', 15593),
 ('Rimac', 15593),
 ('San Bartolo', 15311),
 ('Plantel 41', 15312),
 ('Granja 4', 15313),
 ('Granja 5', 15314),
 ('Granja 07', 15316),
 ('Granja 44', 15324),
 ('Granja 47', 15326),
 ('Santa Maria I', 15327),
 ('Las Torres Santa Fe', 15328),
 ('San Francisco de Borja', 15332),
 ('San Isidro', 15003),
 ('San Juan de Lurigancho', 15004),
 ('Ciudad de Dios', 15006),
 ('San Luis', 15007),
 ('Barrio Obrero Industrial', 15008),
 ('San Miguel', 15009),
 ('Santa Anita - los Ficus', 15011),
 ('Santa Maria del Mar', 15018),
 ('Don Bruno', 15022),
 ('Santa Rosa', 15311),
 ('Santiago de Surco', 15328),
 ('Surquillo', 15331),
 ('Villa el Salvador', 15332),
 ('Villa Maria del Triunfo', 15333),
 ('Pueblo libre', 15046)]

In [83]:
dict( zip( cities , postal_code ) )

{'Fray Martin': 15001,
 'Santa Rosa de Puquio': 15003,
 'Cuchicorral': 15004,
 'Santiago de Punchauca': 15006,
 'La Cruz (11 Amigos)': 15018,
 'Cerro Cañon': 15019,
 'Cabaña Suche': 15046,
 'San Lorenzo': 15121,
 'Jose Carlos Mariategui': 15079,
 'Pascal': 15081,
 'La Esperanza': 15082,
 'Fundo Pancha Paula': 15083,
 'Olfa': 15088,
 'Rio Seco': 15123,
 'Paraiso': 15004,
 'El Rosario': 15011,
 'Cerro Puquio': 15012,
 'La Campana': 15019,
 'Las Animas': 15022,
 'Vetancio': 15023,
 'Roma Alta': 15026,
 'San Jose': 15476,
 'San Pedro de Carabayllo': 15121,
 'Huacoy': 15483,
 'Fundo Pampa Libre': 15487,
 'Ex Fundo Santa Ines': 15491,
 'Reposo': 15494,
 'Carmelito': 15498,
 'Santa ElenaDon Luis': 15047,
 'Santa Ines Parcela': 15049,
 'Asociacion Santa Ines': 15063,
 'Roma Baja': 15082,
 'Residencial Santa Lucia': 15083,
 'San Francisco': 15121,
 'Santa Margarita - Molinos': 15122,
 'Sipan Peru': 15313,
 'Fundo Cuadros': 15316,
 'Bello Horizonte': 15318,
 'El Hueco': 15319,
 'Ex Fundo Mariategui': 15320,
 'Naranjito': 15321,
 'Vista Hermosa': 15324,
 'El Sabroso de Jose Carlos Mariategui': 15320,
 'Granja Carabayllo': 15320,
 'Agropecuario Valle el Chillon': 15320,
 'Camino Real': 15320,
 'Copacabana': 15320,
 'El Trebol': 15320,
 'Tablada la Virgen': 15121,
 'San Fernando de Carabayllo': 15320,
 'San Fernando de Copacabana': 15320,
 'La Manzana': 15121,
 'Chacra Grande': 15320,
 'Torres de Copacabana': 15320,
 'Chaclacayo': 15122,
 'Chorrillos': 15122,
 'Cieneguilla': 15121,
 'Lindero': 15121,
 'Pichicato': 15121,
 'San Isidro': 15003,
 'San Vicente': 15320,
 'Piedra Liza': 15320,
 'Santa Rosa de Chontay (Chontay)': 15320,
 'La Libertad': 15320,
 'El Agustino': 15320,
 'Independencia': 15121,
 'Jesus Maria': 15121,
 'La Molina': 15121,
 'La Victoria': 15320,
 'Lince': 15121,
 'Las Palmeras': 15319,
 'Chosica': 15121,
 'Lurin': 15121,
 'Los Almacigos': 15121,
 'Rinconada del Puruhuay': 15320,
 'Fundo Santa Genoveva': 15320,
 'Los Maderos': 15121,
 'Casco Viejo': 15121,
 'Vista Alegre': 15121,
 'Buena Vista Alta': 15121,
 'Lomas Pucara': 15320,
 'Fundo la Querencia': 15320,
 'Magdalena del Mar': 15320,
 'Pueblo Libre': 15122,
 'Miraflores': 15122,
 'Pachacamac': 15122,
 'Puente Manchay': 15122,
 'Tambo Inga': 15122,
 'Pampa Flores': 15122,
 'Manchay Alto Lote B': 15122,
 'Invasion Cementerio': 15122,
 'Manchay Bajo': 15121,
 'Santa Rosa de Mal Paso': 15121,
 'Cardal': 15122,
 'Jatosisa': 15122,
 'Tomina': 15121,
 'Pucusana': 15121,
 'Honda': 15122,
 'Quipa': 15122,
 'Los Pelicanos': 15121,
 'Playa Puerto Bello': 15122,
 'Ñaves': 15122,
 'Granja Santa Elena': 15122,
 'Alvatroz II': 15472,
 'Poseidon - Lobo Varado': 15476,
 'Playa Minka Mar': 15054,
 'Playa Acantilado': 15056,
 'Puente Piedra': 15057,
 'Punta Hermosa': 15058,
 'Capilla Lucumo': 15063,
 'Cucuya': 15064,
 'Pampapacta': 15066,
 'Avicola San Cirilo de Loma Negra - 03': 15067,
 'Avicola San Cirilo de Loma Negra - 02': 15593,
 'Avicola San Cirilo de Loma Negra - 01': 15594,
 'Pampa Mamay': 15593,
 'Cerro Botija': 15593,
 'Agricultores y Ganaderos': 15593,
 'Pampa Malanche Avicola Puma': 15593,
 'Punta Negra': 15593,
 'Chancheria': 15593,
 'Rimac': 15593,
 'San Bartolo': 15311,
 'Plantel 41': 15312,
 'Granja 4': 15313,
 'Granja 5': 15314,
 'Granja 07': 15316,
 'Granja 44': 15324,
 'Granja 47': 15326,
 'Santa Maria I': 15327,
 'Las Torres Santa Fe': 15328,
 'San Francisco de Borja': 15332,
 'San Juan de Lurigancho': 15004,
 'Ciudad de Dios': 15006,
 'San Luis': 15007,
 'Barrio Obrero Industrial': 15008,
 'San Miguel': 15009,
 'Santa Anita - los Ficus': 15011,
 'Santa Maria del Mar': 15018,
 'Don Bruno': 15022,
 'Santa Rosa': 15311,
 'Santiago de Surco': 15328,
 'Surquillo': 15331,
 'Villa el Salvador': 15332,
 'Villa Maria del Triunfo': 15333,
 'Pueblo libre': 15046}

De manera comparativa, la siguiente tabla puede ayudar:

| Parameters | List | Tuple | Set | Dictionary |
| --- | --- | --- | --- | --- |
| Basics	| A list is similar to an array in other languages. | Tuples are collections of Python objects separated by commas.	| Sets are mutable, iterable collections of unique data types.	| A dictionary in Python is an unordered collection used for storing key: value pairs.| 
| Homogeneity	| A list is a non-homogeneous data structure that stores elements in columns and rows.	| A tuple is a non-homogeneous data structure that stores elements in columns and rows.	| A set is a non-homogeneous data structure that stores elements in a single row.	| A dictionary is a non-homogeneous data structure that stores key-value pairs.| 
| Representation	| A List is represented by [ ]| 	A Tuple is represented by ( )	| A Set is represented by { }	| A Dictionary is represented by { }| 
| Duplicate elements	| It permits duplicate elements.	| It permits duplicate elements.	| It does not permit duplicate elements.	| It does not permit duplicate keys.| 
| Nested Among All	| It can be nested in a List.	|  It can be nested in a Tuple.	|  It can be nested in a Set.	| It can be nested in a Dictionary. | 
| Example	| [1, 2, 3, 4, 5]	|  (10, 20, 30, 40, 50)	|  {100, 200, 300, 400, 500}	|  {1: 'one', 2: 'two', 3: 'three'} | 
| Function for Creation	| A list can be created using the list() function.	|  A tuple can be created using the tuple() function.	|  A set can be created using the set() function.	| A dictionary can be created using the dict() function. | 
| Mutation	| It is mutable, allowing modifications. | It is immutable, not allowing modifications. | It is mutable, allowing modifications. | It is mutable, but the keys cannot be duplicated. | 
| Order	| It maintains order. | 	It maintains order. | 	It does not maintain order. | 	It maintains order. | 
| Empty Elements | An empty list can be created using: | l=[] An empty tuple can be created using: | t=() An empty set can be created using: s=set() | An empty dictionary can be created using: d={} |

## Ejercicios de calentamiento

1. Escribo un algortimo en Python para confirmar/rechazar que Lima es un key de ct_pc
2. Escribo un algortimo en Python para juntar dos diccinario de Python
3. Escribo un algortimo en Python para agregar un key a un diccionario